<% @user ||= current_user %>
<div class="stats">
	<table summary="User stats">
		<tr>
			<td>
		  	  <a href="<%= following_user_path(@user) %>">
			  	<strong id = "following" class="stat">
					<%= @user.following.count %> following
			  	</strong>
		  	  </a>
	  		</td>
	  	  	
			<td>
				<a href="<%= followers_user_path(@user) %>">
					<strong id="followers" class="stat">
				  	 <%= pluralize(@user.followers.count, "follower") %>
			 	 	</strong>
		 	 	</a>
	  	   </td>
		   
	    
  	  </tr>
	  <tr>
	</table>
   
    

   
   <%= form_tag('/search', method: "get") do %>
      <%= select(nil,"id",{ "Aksesuar" => "Aksesuar", "Ayakkabı" => "Ayakkabı", "Pantolon" => "Pantolon", "Üst Giyim" => "Üst Giyim", "Ceket" => "Ceket", "Mont" => "Mont"}) %>
      <%= submit_tag "Search", :name => nil %>
      <% end %>
</div>
