		<header>
			<%= image_tag("logo.png", :alt => "Fashion App", :class => "round") %>
			<nav class="round">
				<ul>
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "Help", '#' %></li>
					<li><%= link_to "Sign In", '#' %></li>
					<li><%= link_to "Deneme", '#'%></li>
				</ul>
			</nav>
		</header>